<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/css/login/style.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <img src="{% static 'accounts/img/male4.png' %}" class="img-responsive" alt="...">
        <form action="{% url 'login' %}" method="POST" class="formLogin"> 
            {% csrf_token%}
            <div class="alignIcons">
                <img src="{% static 'accounts/img/avatar-de-perfil.png' %}" alt="" class="icon">
                <input type="text" name="name" class="inputLogin" placeholder="Nome de usuário">
            </div>
            <div class="alignIcons">
                <img src="{% static 'accounts/img/chave.png' %}" alt="" class="icon">
                <input type="password" name="password" class="inputLogin" placeholder="xxxxxxxxxxx">
            </div>
            <button type="submit" class="buttonLogin" value="Login">Entrar</button>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
</body>
</html>